

.videoWrapper{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    padding-left: 1rem;
    position: relative;
    width: 40%;
    height: 80%;
}

video {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;


}

h1 {
    color: #f0f0f0;
}

body {
    background-color: #110e0e;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body.inner{
    overflow-y: auto;
}

.buttons {
    transition: display 0.3s;
}

.buttons button {
    /* position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 2px;
    border: none;
    display: inline-block;
    background-color: rgb(71, 71, 71);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Verdana, sans-serif;
}

.buttons button:hover {
    background-color: rgb(51, 51, 51);
}

.buttons button:active {
    background-color: rgb(41, 41, 41);
}

*:focus {
    outline: 0;
}

iframe {
    height: 100vh;
    width: 100vw;
}

img.portrait {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

img.smallPortrait {
    width: 30%;
    height: auto;
    display: inline;
}

p {
    display: inline-block;
    color: snow;
    font-size: 18px;
}

div.text {
    display: inline-block;
    width: 35%;
    margin-left: 10%;
}

div.window {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100vh;
}

div.window_half {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    height: 50vh;
}

a.button {
    font: bold 18px;
    text-decoration: none;
    background-color: #317731;
    color: #a3a3a3;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    font-family: Verdana, sans-serif;
    border-radius: 2px;
    display: inline-block;
}

.speechBubble {
    position: absolute;
    top: 0%;
    left: 27%;
    z-index:1000;
    background: #00aabb;
    width: 20%;
    border-radius: .4em;
    text-align: left;
    padding: 30px;
    padding-left: 60px;
}

.speechBubble:after {
	content: '';
    position: absolute;
	right: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-top: 0;
	margin-top: -19px;
	margin-right: -38px;
}

#trumpSpeech{
    display: none
}


#trumpImg:hover + #trumpSpeech{
    display: block
}

.questions{
    display: inline-block;
    margin-left: 6rem;
    color: snow;
}

.questions button{
    margin: 3px;
    padding: 3px 10px;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

img.date{
    border-radius: 15px;
    margin: 10px;
}

.top{
    height: 80%;
}

.bottom{
    height: 20;
    border: 10px;
    border-color: #a3a3a3;
}

p.fakta{
    border-color: #a3a3a3;
    padding: 10px;
    border-style: solid;
}

ul{
    list-style-type: none;
}