


.left{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    position: relative;
    width: 60%;
    height: 80%;
}

.videoWrapper{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 10%;
}

video {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;


}

iframe.video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1 {
    color: #f0f0f0;
    font-size: 20px;
}

body {
    background-color: #110e0e;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body.inner{
    overflow-y: auto;
}

.buttons {
    transition: display 0.3s;
}

.buttons button {
    /* position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 2px;
    border: none;
    display: inline-block;
    background-color: rgb(71, 71, 71);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    width: 50%;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Verdana, sans-serif;
}

.buttons button:hover {
    background-color: rgb(51, 51, 51);
}

.buttons button:active {
    background-color: rgb(41, 41, 41);
}

*:focus {
    outline: 0;
}

iframe {
    height: 100vh;
    width: 100vw;
}

img.portrait {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

img.house {
    box-sizing: border-box;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

p {
    display: inline-block;
    color: snow;
    font-size: 16px;
}

div.text {
    margin-block-start: 0%;
    text-align: justify;
    display: inline-block;
    max-width: 50%;
    margin-left: 5%;
}

div.window {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100vh;
}

div.window_half {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    height: 50vh;
}

a.button {
    font: bold 18px;
    text-decoration: none;
    background-color: #317731;
    color: #dadada;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    font-family: Verdana, sans-serif;
    border-radius: 2px;
    display: inline-block;
}

a.button:hover {
    font: bold;
    text-decoration: none;
    background-color: #359435;
    color: #dadada;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 5px;
    font-family: Verdana, sans-serif;
    border-radius: 2px;
    display: inline-block;
}

.questions{
    text-align: center;
    display: inline-block;
    width: 25%;
    margin-left: 5%;
    color: snow;
}

.questions ul{
    padding: 0%;
    text-align: center;
}

.questions li{
    text-align: center;
}

.questions a{
    width: 80%;
    margin: 2% 10%;
    padding: 3px 10px;
    font-family: Verdana, sans-serif;
}

.questions a:hover{
    width: 80%;
    margin: 2% 10%;
    padding: 3px 10px;
    font-family: Verdana, sans-serif;
}

img.date{
    border-radius: 15px;
    margin: 10px;
}

.top{
    height: 80%;
}

.bottom{
    height: 20%;
    border: 10px;
    border-color: #a3a3a3;
}

div.fakta{
    border-color: #a3a3a3;
    padding: 10px;
    border-style: solid;
}



.fakta ul{
    list-style-type: disc;
    text-align: left;
}

ul{
    list-style-type: none;
}

.fakta{
    color: grey;
    list-style-type: disc;
}

h1.fail{
    color: grey;
    margin: 0px;
    padding: 10% 30%;
}

img.inText{
    height: 50vh;
}

iframe.timeLine{
    width: 80%;
}


.start{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.start p{
    width: 60%;
    text-align: justify;
    margin-top: 0%;
}

.start h1{
    padding: 2vh;
    margin-top: 0%;
    margin-bottom: 0%;
}

.start img{
    height: 75vh;
    width: auto;
}

.computer{
    position: relative;
    background-image: url("/resources/images/computer.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    background-position: center;
    text-align: center;
}

img.smallPortrait {
    position: relative;
    height: 29%;
    width: auto;
    display: inline;
    top: 27.5%;
    border: black;
    border-style: solid;
    margin-left: 1%;
    margin-right: 1%;
}



.speechBubbleTrump {
    display: block;
    position: relative;
    top: 0%;
    left: 15%;
    z-index:1000;
    background: #c4c4c4;
    width: 25vw;
    border-radius: .4em;
    text-align: left;
    padding: 20px;
}

.speechBubbleTrump:after {
	content: '';
    position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-right-color: #c4c4c4;
	border-left: 0;
	border-top: 0;
	margin-top: -19px;
	margin-left: -38px;
}

#trumpSpeech{
    display: none;
    position: absolute;
    top: 20%;
}

#bidenImg:hover{
    border-color: rgb(116, 116, 116);
}


#trumpImg:focus + #trumpSpeech{
    display: inline;
    position: absolute;
    top: 20%;
}

.speechBubbleBiden {
    display: block;
    position: relative;
    top: 0%;
    left: -45vw;
    z-index:1000;
    background: #c4c4c4;
    width: 25vw;
    border-radius: .4em;
    text-align: left;
    padding: 20px;
}

.speechBubbleBiden:after {
	content: '';
    position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-left-color: #c4c4c4;
	border-right: 0;
	border-top: 0;
	margin-top: -19px;
	margin-right: -38px;
}

#bidenSpeech{
    display: none;
    position: absolute;
    top: 20%; 
}

#bidenImg:hover{
    border-color: rgb(116, 116, 116);
}

#bidenImg:focus + #bidenSpeech{
    display: inline;
    position: absolute;
    top: 20%; 
}